:root {
    font-family: 'Roboto', sans-serif;
    /*color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;*/
}
body {
    background-image: url('C:\Users\marti\Development\Projects\MelloApp\melloapp.client\src\assets\Wiki-background-1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
